---
layout: "default"
permalink: "login/index.html"
---

<div class="container">
    <div class="row">
        <div class="col-md-6">
            Login page
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="/login">
                <input type="email" name="email" id="email">
                <input type="password" name="password" id="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</div>