<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{title}}
    </title>
    {% if metaDescription %}
        <meta name="description" content="{{metaDescription}}"/>
    {% endif %}

     <!-- Open Graph Tags -->
        <meta name="og:title" property="og:title" content={{title}} />
        <meta property="og:url" content={{url}} />
        <meta property="og:type" content="website" />
        <meta property="og:description" content={{metaDescription}} />
        <meta property="og:image" content="{{metaImage}}" />
     <!-- end of Open Graph Tags -->

     <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={{title}} />
        <meta name="twitter:description" content={{metaDescription}} />
        <meta name="twitter:url" content={{url}} />
        <meta name="twitter:image" content="{{metaImage}}" />
     <!-- end of Twitter Cards -->

    <!-- og tag -->

    {% block head %}{% endblock %}
    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-grid.min.css">
    <script src="/static/css/bootstrap-grid.min.js"></script>

    <!-- global stylesheet -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>